
@model PagedList.IPagedList<CdZ.MVC.Models.Cavaleiro.CavaleiroViewModel>
@using PagedList.Mvc;


<script>
    var totalCavaleiros = @ViewBag.QtdCavaleiros
</script>

Total Cavaleiros: <b id="qtdCavaleiros"></b>

<div id="content">
    <ul>
        @foreach (var cavaleiro in Model)
        {
            <li data-id-cavaleiro="@cavaleiro.Id">
                <span class="info">
                    @cavaleiro.Nome
                    <img src="@cavaleiro.UrlThumb"></img>
                </span>
                <span>
                    <a href="@Url.Action("Editar/" + @cavaleiro.Id)">
                        <i class="fa fa-pencil"></i>
                    </a>
                </span>
                <span class="icon-deletar">
                    <i class="fa fa-times"></i>
                </span>
            </li>
        }
    </ul>
    <div id="contentPager">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
    </div>
</div>

<script>
    $(function(){
        var $bListagemQuatnidade = $('#qtdCavaleiros');

        if ($bListagemQuatnidade.is(':empty'))
            $($bListagemQuatnidade).html(totalCavaleiros);
        else {
            var diferenca = totalCavaleiros - parseInt($bListagemQuatnidade.html());
            
            if (diferenca !== 0) {
                $bListagemQuatnidade.html(totalCavaleiros);
                notificarCavaleiros(diferenca + ' novo(s) cavaleiro(s) foram adicionado(s)!');
            }
        }
    });
</script>