@model LojaNinja.MVC.Models.Login.LoginViewModel

@{
    ViewBag.Title = "Bem-vindo a Loja Ninja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <link href="~/Content/Custom/login.css" rel="stylesheet" />
}

@ViewBag.CadastroRealizado

<div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <section class="login-form">
            @using (Html.BeginForm("Login", "Autenticacao", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()

                <img src="http://icons.iconarchive.com/icons/iconka/buddy/128/ninja-icon.png" class="img-responsive" alt="" />

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "E-mail" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control input-lg", placeholder = "Senha" })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>

                <button type="submit" name="go" id="go" class="btn btn-lg btn-primary btn-block">Entrar</button>

                <div>
                    @Html.ActionLink("Cadastrar-se", "Cadastrar", "Usuario")
                </div>
            }
        </section>
    </div>
    <div class="col-md-4"></div>
</div>